* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;

    display: grid;
    grid-template: 
        "header header  header" 56px
        "left-menu    main    right-menu"  1fr /
        280px   1fr     296px;
    
    grid-gap: 2px;
}

/* HEADER SECTION */
header {
    grid-area: header;
    background-color: rgb(126, 126, 250);

    display: grid;
    grid-template-columns: minmax(150px, 320px) 1fr 294px;
  overflow: hidden;

}

.logo-search {
    display: grid;
    grid-template-columns: 64px 1fr;
    max-height: 56px;
}

.logo,
.search {
    margin-left: 16px;
    background-color: rgb(100, 100, 206);
    height: 48px;
    align-self: center;
}

ul.pages {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    max-height: 56px;
    grid-gap: 40px;

    place-content: center;
}

ul.pages li {
    background-color: rgb(100, 100, 206);
    height: 32px;

    list-style: none;
}

.header-nav {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    max-height: 56px;
    grid-gap: 5px;
    padding-right: 10px;

    justify-content: right;
    align-items: center;
}

ul.header-nav li {
    background-color: rgb(100, 100, 206);
    margin-right: 5px;
    height: 32px;

    list-style: none;
}

/* LEFT MENU SECTION */
nav {
    grid-area: left-menu;
    background-color: rgb(178, 126, 250);
}

ul.nav {
    display: grid;
    grid-auto-rows: 32px;
  
    padding: 10px;
    grid-gap: 5px;
}

ul.nav li {
    background-color: rgb(159, 95, 248);
}

/* MAIN SECTION */
main {
    grid-area: main;
    background-color: rgb(250, 126, 142);

    display: grid;
    grid-template-rows: 72px 122px 1fr;
    padding: 20px 50px;
    grid-gap: 20px;
}

.story,
.post,
article {
    background-color: rgb(255, 107, 127);
}

/* RIGHT MENU SECTION */
aside {
    grid-area: right-menu;
    background-color: rgb(250, 161, 126);

    display: grid;
    grid-template-rows: 1fr 48px;
    padding: 10px;
    grid-gap: 10px;
}

aside .right-content {
    display: grid;
    grid-template-rows: 48px 104px;
    padding: 10px;
    grid-gap: 10px;
}

aside h2,
aside .group-convo,
aside a {
    background-color: rgb(254, 135, 88);
}

aside a {
    width: 48px;

    justify-self: right;
    align-self: bottom;
}

/* RESPONSIVE LAYOUTS */

@media screen and (max-width: 1000px) {
    .container {
        grid-template: 
            "header  header" 56px
            "main    right-menu"  1fr /
            1fr     296px;
    }

    nav {
        display: none;
    }

    .logo-search {
        grid-template-columns: 64px 64px;
    }
}

@media screen and (max-width: 950px) {
    .container {
        grid-template: 
            "header  header" 56px
            "main    right-menu"  1fr /
            1fr     72px;
    }

}

@media screen and (max-width: 765px) {
    .container {
        grid-template: 
            "header" 56px
            "main"  1fr /
            1fr;
    }

    header {
        grid-template-columns: 150px 1fr;    
    }

    ul.pages {
        display: none;
    }

    ul.header-nav {
        justify-self: right;
    }

    aside {
        display: none;
    }

}